body { 
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

#aboutMe {
  background-color: rgb(211, 209, 209);
}

#portfolio {
  background-color: rgb(211, 209, 209);
}

#resume {
  background-color: rgb(211, 209, 209);
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

#tagline {
  font-weight: bold;
  font-size: 12px;
  color: #4aaaa5;
}

.nav-link {
  color: white;
  opacity: 1;
  /* padding-left: 30px; */
}

.nav-link:hover {
  color: white;
  opacity: .5;
  transition: opacity .6 ease-out;
  -moz-transition: opacity .6s ease-out;
  -webkit-transition: opacity .6s ease-out;
  -o-transition: opacity .6s ease-out;
}

.nav-item {
  border-bottom: solid 1px white;
}

#socialIcon {
  /* padding-left: 85px; */
  opacity: 1
}

#socialIcon:hover {
  opacity: .5;
  transition: opacity .6 ease-out;
  -moz-transition: opacity .6s ease-out;
  -webkit-transition: opacity .6s ease-out;
  -o-transition: opacity .6s ease-out;
}

.bio-image {
  height: 300px;
  width: 300px;
  margin-top: 0px;
  float: left;
  padding: 20px 20px 20px 20px;
}

.bio-bw-image {
  height: 300px;
  width: 300px;
  margin-top: 0px;
  float: left;
  padding: 20px 20px 20px 20px;
  opacity: 1;
  position: absolute;
}

.bio-bw-image:hover {
  opacity: 0;
  transition: opacity .6 ease-out;
  -moz-transition: opacity .6s ease-out;
  -webkit-transition: opacity .6s ease-out;
  -o-transition: opacity .6s ease-out;
}

#icons8Link {
  color: white;
}

.card-img {
  opacity: .3;
}

#custom-card {
  color: white;
  opacity: .5;
}

#custom-card:hover {
  opacity: 1;
  transition: opacity .8 ease-out;
  -moz-transition: opacity .8s ease-out;
  -webkit-transition: opacity .8s ease-out;
  -o-transition: opacity .8s ease-out;
}

#pdfLink {
  color: #4aaaa5;
}

@media screen and (max-width: 800px) {
  .bio-image {
      height: 450px;
      width: 450px;

  }
}

@media screen and (max-width: 800px) {
  .bio-bw-image {
      height: 450px;
      width: 450px;

  }
}

  @media screen and (max-width: 800px) {
      .lead {
          font-size: 14px;
      }
  }

.sidebar {
  background-color: #4aaaa5;
}

.page-footer {
  width: 100%;
  height: 8%;
  background: #666666;
  /* position: fixed; */
  bottom: 0;
  text-align: center;
  color: white;
  padding-top: 12px;
  border-top: 8px solid #4aaaa5;
  clear: both;
  margin-top: 0;
}